.App {
  text-align: center;

}
body{
  background-image: url("./components/assets/img/hback.jpg");
  backdrop-filter: blur(19px) saturate(135%);
  -webkit-backdrop-filter: blur(39px) saturate(475%);
  background-color: rgba(169, 169, 211, 0);

  border: 1px solid rgba(255, 255, 255, 0.125);
  background-repeat: no-repeat;
  background-size: cover;
}

.card{
  border-color: rgb(0, 0, 0);
}
/*MAIN CARD*/
.Cardmain{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(19px) saturate(175%);
  -webkit-backdrop-filter: blur(19px) saturate(175%);
  background-color: rgba(169, 169, 211, 0);
  border-radius: 12px;
  color: antiquewhite;
  border-radius: 12px;
  font-size: 30px;
  padding: 9px;
  margin: 12px;


}
.inputlogin{
   
  backdrop-filter: blur(19px) saturate(725%);
  -webkit-backdrop-filter: blur(19px) saturate(175%);
  background-color: rgba(169, 169, 211, 0);

  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-top: 6px;
  font-size: 30px;
  color: aliceblue;

}
.inputlogin:hover{
 
  backdrop-filter: blur(19px) saturate(725%);
  -webkit-backdrop-filter: blur(19px) saturate(175%);
  background-color: rgba(169, 211, 209, 0.664);

  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;

}

.CardQ{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(19px) saturate(175%);
  -webkit-backdrop-filter: blur(19px) saturate(175%);
  background-color: rgba(255, 255, 255, 0.425);
  border-radius: 12px;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  font-size: 30px;
  padding: 9px;
  margin: 12px;


}

.CardQ:hover{
  background-color: rgba(0, 255, 255, 0.418);

}

.btn1{
  backdrop-filter: blur(19px) saturate(725%);
  -webkit-backdrop-filter: blur(19px) saturate(175%);
  background-color: rgba(169, 169, 211, 0);

  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-top: 6px;
  font-size: 30px;
  color: aliceblue;
}
.btn1:hover{
 
  backdrop-filter: blur(19px) saturate(725%);
  -webkit-backdrop-filter: blur(19px) saturate(175%);
  background-color: rgba(255, 255, 255, 0.212);

  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;


}